/* FONT definition */
@font-face {
    font-family: Nunito-Sans;
    src: url("../fonts/NunitoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: Nunito-Sans;
    src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: Nunito-Sans;
    src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: bold;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito-Sans';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    height: 80px;
}

.navbar a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.navbar img {
    width: 1rem;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
}

.flexSearch {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;

}

.flexSearch form {
    margin-top: auto;
    margin-bottom: auto;
}

/* .flexSearch img {
    margin-right: -1rem;
} */

.flexSearch input {
    padding: 1.5rem;
    padding-left: 5rem;
    width: 27rem;
    border: none;
    outline: none;
    font-family: 'Nunito-Sans';
    font-weight: 600;
    border-radius: 5px;
    background: url(../assets/icon-search-black.svg) no-repeat white 25px 20px ;
}

.flexSearch a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: black;
    /* background-color: white; */
    padding: 1.5rem;
    padding-right: 3rem;
    border-radius: 5px;
    background: url(../assets/down-arrow-black.svg) white no-repeat 150px 26px;
    background-size: 16px;
    
}

.flexSearch a img {
    width: 10%;
    margin-left: 1rem;
    
}

.dropdown {
    margin-left: auto;
    grid-column-start: 2;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.home {
    padding: 8rem 15rem;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 98%);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1fr;
    gap: 5rem;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}