/* FONT definition */
@font-face {
    font-family: Nunito-Sans;
    src: url("../fonts/NunitoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: Nunito-Sans;
    src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: Nunito-Sans;
    src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: bold;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito-Sans';
    background-color: hsl(0, 0%, 98%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}

.navbar a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.navbar img {
    width: 1rem;
}

.home {
    padding: 3rem 10vw;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 98%);
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 170px;
}

.flexSearch {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;

}

.flexSearch form {
    margin-top: auto;
    margin-bottom: auto;
}

.flexSearch input {
    padding: 1.5rem;
    padding-left: 5rem;
    width: 23vw;
    border: none;
    outline: none;
    font-family: 'Nunito-Sans';
    font-weight: 600;
    border-radius: 5px;
    background: url(../assets/icon-search-black.svg) no-repeat white 25px 20px ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flexSearch a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: black;
    padding: 1.5rem;
    padding-right: 3rem;
    border-radius: 5px;
    background: url(../assets/down-arrow-black.svg) white no-repeat 155px 30px;
    background-size: 10px;
    width: 120px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown {
    width: 175px;
    border-radius: 5px;
    grid-column-start: 2;
    background: white;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 1rem 0 1rem 1rem;
    z-index: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.menu-item {
    width: 100%;
    margin-bottom: 0.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1fr;
    gap: 5rem;
    margin-top: -8rem;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.subCard {
    padding: 0 2rem;
    bottom: 0;
}

/* Details page */

.details {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: 100px 70% 1fr;
    padding: 5rem 5rem;
}

.details a {
    width: 80px;
    height: 34px;
    padding-left: 50px;
    padding-top: 10px;
    margin-left: 15%;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
    color: black;
    background: url(../assets/left-arrow-black.svg) no-repeat white 18px 13px;
    background-size: 16px 16px;
}


.details img {
    width: 30vw;
    margin-left: 15%;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.mainLeft {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 2;
    flex-direction: column;
}

.mainRight {
    padding-top: 5.2rem;
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    margin-bottom: -1rem;
}

span p {
    font-weight: 300;
}

.borders {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}